{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-page">

<div class="container">
    <h1 class="text-primary text-center">About Us</h1>

    <p>
        We started as AVIS LABS in the market and have since transitioned to M/s. Mac Labs Ltd. The company acquired an existing unit located in the KIADB industrial area, Kolhar Bidar. As per the Memorandum of Articles of Association, the firm’s main objectives include the manufacturing and trading of basic drugs, drug intermediates, pharmaceuticals, medicines, and more.
    </p>

    <p>
        MAC Labs Limited is an accredited manufacturer with a strong ethical foundation, providing quality assurance for decades. We effectively blend the principles of business and service. The company operates with a robust quality management system, guided by detailed standard operating procedures (SOPs), ensuring the production of the highest quality products. We adhere to global standards, including WHO and GMP, upholding ethical practices. As one of the fastest-growing pharmaceutical companies, we have achieved global recognition, manufacturing pharmaceutical formulations and APIs for both domestic and international markets.
    </p>

    <h2 class="text-secondary">Objective</h2>
    <p>
        Our main objective is to deliver high-quality products at affordable prices, ensuring satisfaction for all stakeholders, including the end customers. We also aim to develop indigenous technologies for manufacturing new, imported drugs.
    </p>

    <h2 class="text-secondary">Vision</h2>
    <p>
        Our vision is to be among the top pharmaceutical companies in India by continuously evolving and introducing innovative products to the healthcare sector.
    </p>

    <h2 class="text-secondary">Mission</h2>
    <ul>
        <li>Leverage science to deliver new and innovative offerings.</li>
        <li>Enhance value for our customers.</li>
        <li>Deliver superior returns for our investors.</li>
    </ul>

    <h2 class="text-secondary">Unique Advantage</h2>
    <p>
        Our mission and values are perfectly aligned with our business goals, placing the patient at the heart of everything we do. This approach makes us the provider of choice in the industry. With a focus on pharmaceuticals and healthcare, we possess in-depth knowledge of the pharmaceutical generic market and expertise in handling specialized products. We comply with stringent drug control regulations and operate in accordance with established global standards. MAC Labs Limited is a visionary project dedicated to providing high-quality healthcare products worldwide.
    </p>
</div>
</div>
{% endblock %}
