{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact Us</h1>
<div class="contact-page">
<form action="https://formspree.io/f/mgvoeanw" method="POST">
    
    <input type="text" name="first" placeholder="First Name" autocomplete="off" required>
    <input type="text" name="last" placeholder="Last Name" autocomplete="off" required>
    <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
    <textarea rows="5" cols="60" name="message" placeholder="Enter text" autocomplete="off" required></textarea>
    <button type="submit">Send Message</button>
</form>
</div>
{% endblock %}
